In [1]:
# -*- coding: utf-8 -*

import random
from random import randint
import pandas as pd
import csv

# 아무말 데이터 생성

In [2]:
MAX = 40

blabla_dic = ['ㄱ', 'ㄲ', 'ㄳ', 'ㄴ', 'ㄵ', 'ㄶ', 'ㄷ', 'ㄹ', 'ㄺ', 'ㄻ', 'ㄼ', 'ㄽ', 'ㄾ', 'ㄿ', 'ㅀ', 'ㅁ', 'ㅂ', 'ㅄ', 'ㅅ', 'ㅆ', 'ㅇ', 'ㅈ', 'ㅊ', 'ㅋ', 'ㅌ', 'ㅍ', 'ㅎ',
            'ㅏ', 'ㅐ', 'ㅑ', 'ㅒ', 'ㅓ', 'ㅔ', 'ㅕ', 'ㅖ', 'ㅗ', 'ㅘ', 'ㅙ', 'ㅚ', 'ㅛ', 'ㅜ', 'ㅝ', 'ㅞ', 'ㅟ', 'ㅠ', 'ㅡ', 'ㅢ', 'ㅣ',
            '[', '{', ']', '}', ';', ':', '\'', '"', ',', '<', '.', '>', '/', '?', '\\', '|']

blabla_dic_w = [1]*len(blabla_dic) # 가중치

In [3]:
# 아무말
blabla = "ㅁ;ㄴㄷ겅ㄹ;믾공ㅋ;ㅣ아러;킬ㄴ어;민덩ㄹ;ㅣㅁ니아러;ㅁㅈㄷ 너;ㅍ미느ㅓㅇ;ㄹㅊㅁㄴ댜ㅣㅓㅇㄱㄹ튜ㅣㅜㅊㄹ파ㅜㅎ터ㅡㅏ흫나엋루ㅚㅁㅈ댜ㅡㄹ태먀농ㅋㄹ;ㅐㅓ넬,태먀전ㄷ;키아ㅓㄹㅊ큉ㅁㄴ카ㅗ힠ㄴ더;램댜것;먀ㅗㅋㄴㅇㅌㄹ;ㅣㅏㅋㄴ;ㅌㅇㅎ ㅣㅗㅋㄴ;ㅇ럼 ;ㅊㅋ니ㅏㅇ러츠;ㅁ니ㅏㅇ러;민ㄹ어;ㅣㄴ커우;ㅍ리먼ㅊㅋㄷ;ㅡ잍ㅁ저;ㄴ디아렄ㄴ;ㅣㅌ아러;ㄴ키유러;핌ㄴ처우;ㅢ만ㄷ터ㅡ;ㅇ리맞넏ㄱ이ㅠㅏㅓ;ㅍ뉭ㄹㅊㅎ;ㅡㅓ캐능;ㅓㄹ캧얄초휘ㅑㅕㅠㅣ잗넝ㅎ룀냐ㅗㅍ;귲ㅁ챋ㄴ;캐야허ㅌ에ㅙㄹ;으ㅐㅎ랴ㅚ나류ㅗ침파ㅠ뉴ㅗ맃ㅁ냐ㅗㅎ탕ㅎ라며뵿쥴ㅊ며ㅑㄴ호ㅡㅔㅇㄱ로ㅡㅓㅔ패탸올;ㅊ캐냐루칰내야ㅗ류ㅣ아ㅓ로ㅠㅁㅊ주댩읜야ㅐㄹ혼ㅇ;ㅠㅑㅗ루민야로피ㅠㅁㅊ녈ㅇㅎ티먀녀됴육;ㅍㅁ냧을티"

In [4]:
for c in blabla:
    if c in blabla_dic:
        idx = blabla_dic.index(c)
        blabla_dic_w[idx] = blabla_dic_w[idx] + 1
    else:
        blabla_dic.append(c)
        blabla_dic_w.append(1)

In [5]:
filedir = 'data/blabla.csv' # 아무말 데이터 저장
n = 56000 # 생성할 아무말 수

아무말 데이터를 생성하고 저장한다.  
시작은 한 56,000개 정도?

In [6]:
f = open(filedir, 'w', encoding='utf-8', newline='')
wr = csv.writer(f)
s = ""

for i in range(n):
    for j in range(randint(5, MAX)):
        s = s + "".join(random.choices(blabla_dic, weights=blabla_dic_w))
    wr.writerow([1, s]) # 1은 아무말이라는 뜻
    s = ""
    
f.close()

# 의미 있는 말 데이터
## 1. 요약 데이터
sae4k_v1.txt  
sae4k_v2.txt

In [7]:
meaningful_data1 = pd.read_csv('data/sae4k_v1.txt', delimiter='\t')
meaningful_data1.head()

                                 전문                    요약  분류
0  최근 한 달 동안 학교에서 메일이 온 적이 있는지 확인해줘  한달동안 학교에서 메일 온 적 있는지   0
1            다리미 전원 켜져있는지 확인해줄 수 있니          다리미 전원 켜져있는지   0
2                  오늘 체감온도가 어느 정도이니               오늘 체감온도   2
3                오늘 하루 에어컨 컨센트를 꺼 줘      오늘 하루 에어컨 컨센트 끄기   4
4                 오늘 남은 약속들 전부 취소해줘     오늘 남은 약속들 전부 취소하기   4

여기서 요약의 모양새가 검색어와 비슷하다.  
따라서 요약과 분류만 사용하고 분류는 일괄적으로 0으로 지정한다.  
이는 아무말이 아니라는 뜻이다.

In [8]:
del meaningful_data1['전문']
meaningful_data1['분류'] = 0
meaningful_data1 = meaningful_data1[['분류', '요약']]
meaningful_data1.head()

   분류                    요약
0   0  한달동안 학교에서 메일 온 적 있는지
1   0          다리미 전원 켜져있는지
2   0               오늘 체감온도
3   0      오늘 하루 에어컨 컨센트 끄기
4   0     오늘 남은 약속들 전부 취소하기

sae4k_v2.txt 파일에 대해서도 같은 식으로 처리해준다.

In [9]:
meaningful_data2 = pd.read_csv('data/sae4k_v2.txt', delimiter='\t')
meaningful_data2.head()

   분류                          전문                  요약
0   2    이번 주에 기온변화가 가장 큰 요일을 알려줘   이번 주 기온변화 가장 큰 요일
1   0                  공기청정기 켜져있니          공기청정기 켜졌는지
2   0             오늘 오후에 수영대회가 있니       오늘 오후 수영대회 여부
3   3  가급적 아이리버 엠피쓰리는 사지 않도록 합시다      아이리버 엠피쓰리 사지 않기
4   3      전체 메일을 쓸 때 민감한 내용은 쓰지마  민감한 내용 전체메일 보내지 않기

In [10]:
del meaningful_data2['전문']
meaningful_data2['분류'] = 0
meaningful_data2.head()

   분류                  요약
0   0   이번 주 기온변화 가장 큰 요일
1   0          공기청정기 켜졌는지
2   0       오늘 오후 수영대회 여부
3   0     아이리버 엠피쓰리 사지 않기
4   0  민감한 내용 전체메일 보내지 않기

두 데이터를 합친다.

In [11]:
meaningful_data = pd.concat([meaningful_data1,meaningful_data2], ignore_index=True)
meaningful_data.count()

분류    81674
요약    81674
dtype: int64

## 2. 요약 데이터의 초성 데이터

In [12]:
# 한글 문자열에서 초성 추출하는 코드
# 참고: https://smlee729.github.io/python/natural%20language%20processing/2015/12/24/korean-letter-processing-part1.html
def getChosung(text):

    CHOSUNG_START_LETTER = 0x1100 # 초성 시작
    
    JAMO_START_LETTER = 0x3131 # 자음, 모음 시작
    
    JAMO_END_LETTER = 0x319E # 자음, 모음 끝

    MJUL_START_LETTER = 0xAC00 # 음절 시작

    MJUL_END_LETTER = 0xDCAF # 음절 끝

    MJUL_CYCLE = 588 # 자음에 따른 음절 사이클

    result = ""

    for ch in text:

        if ord(ch) >= MJUL_START_LETTER and ord(ch) <= MJUL_END_LETTER: # 한글은 자음으로 변환

            result += chr(int((ord(ch) - MJUL_START_LETTER)/MJUL_CYCLE + CHOSUNG_START_LETTER))
        
        elif ord(ch) == 0x20: # 띄어쓰기는 그대로
            
            result += ch
        
        elif ord(ch) >= JAMO_START_LETTER and ord(ch) <= JAMO_END_LETTER: # 원래 초성인 것도 그대로
            
            result += ch
            
    return result

# 테스트
getChosung("미안하다 이거 보여주려고 어그로끌었다.. 나루토 사스케 싸움수준 ㄹㅇ실화냐?")

'ᄆᄋᄒᄃ ᄋᄀ ᄇᄋᄌᄅᄀ ᄋᄀᄅᄁᄋᄃ ᄂᄅᄐ ᄉᄉᄏ ᄊᄋᄉᄌ ㄹㅇᄉᄒᄂ'

이제 데이터에 적용한다.

In [13]:
pd.set_option('mode.chained_assignment',  None)

for i, s in enumerate(meaningful_data1['요약']):
    meaningful_data1['요약'][i] = getChosung(s)
    
meaningful_data1.head()

   분류                    요약
0   0  ᄒᄃᄃᄋ ᄒᄀᄋᄉ ᄆᄋ ᄋ ᄌ ᄋᄂᄌ
1   0          ᄃᄅᄆ ᄌᄋ ᄏᄌᄋᄂᄌ
2   0               ᄋᄂ ᄎᄀᄋᄃ
3   0      ᄋᄂ ᄒᄅ ᄋᄋᄏ ᄏᄉᄐ ᄁᄀ
4   0     ᄋᄂ ᄂᄋ ᄋᄉᄃ ᄌᄇ ᄎᄉᄒᄀ

In [14]:
for j, t in enumerate(meaningful_data2['요약']):
    meaningful_data2['요약'][j] = getChosung(t)
    
meaningful_data2.head()

   분류                  요약
0   0   ᄋᄇ ᄌ ᄀᄋᄇᄒ ᄀᄌ ᄏ ᄋᄋ
1   0          ᄀᄀᄎᄌᄀ ᄏᄌᄂᄌ
2   0       ᄋᄂ ᄋᄒ ᄉᄋᄃᄒ ᄋᄇ
3   0     ᄋᄋᄅᄇ ᄋᄑᄊᄅ ᄉᄌ ᄋᄀ
4   0  ᄆᄀᄒ ᄂᄋ ᄌᄎᄆᄋ ᄇᄂᄌ ᄋᄀ

In [15]:
meaningful_data = pd.concat([meaningful_data, meaningful_data1,meaningful_data2], ignore_index=True)
meaningful_data.drop_duplicates(inplace=True)
meaningful_data.count()

분류    55135
요약    55135
dtype: int64

생성한 의미 있는 말을 저장한다.

In [16]:
meaningful_data.to_csv("data/horse.csv")